.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 10px;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.big-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 1em;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  margin: 20px 0 10px 0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.card-subtitle {
  margin: 0;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: gray;
}

.card-ingredients {
  margin: 20px 0 10px 0;
  font-size: 14px;
  list-style: none;
  padding: 0;
}

.card-ingredients li {
  margin: 5px 0;
}

.card-description {
  margin: 10px 20px 20px 20px;
  font-size: 14px;
  text-align: justify;
}

.card-button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #388dfe;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.card-button:hover {
  background-color: #549dfd;
}
